:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --font-family-primary: 'Lavishly Yours', sans-serif;
  --color-primary: #237A85;
  --color-secondary: #0E495B;
  --color-tertiary: #C78049;
  --gradient-module:linear-gradient(to top, #8A52B3 30%, #438b88 100%);
  --gradient-navbar:linear-gradient(to top, #8b52b363 30%, #438b89b6 100%);
  --font-title: 'Lavishly Yours', sans-serif;
  --font-playfair: 'Playfair Display', sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(70px);
    scroll-offsets: entry 50% exit 100%;
    filter: blur(10px);
  }
  to {
    opacity: 1; 
    transform: translateY(0);
    filter: blur(0px);
  }
}

@scroll-timeline --view-timeline {
  source: auto;
  orientation: block;
  /* scroll-offsets: entry 25% exit 50%; */
  /* scroll-offsets-block: 25% 50%; */
}

p {
  opacity: 0;
  transform: translateY(-70px);
  animation: fadeInUp 1s ease-out forwards;
  animation-timeline: --view-timeline;
  animation-range: entry 25% cover 20%;
  view-timeline-name: --view-timeline;
  view-timeline-axis: block;
  transition: all 0.5s ease-out;
  
}

.visible {
  animation: fadeInUp 0.9s ease-out forwards;
}

 /* Add IntersectionObserver in your JS: */



/* *{
  outline: 1px solid red;
}  */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html {
  scroll-behavior: smooth; /* Active le défilement fluide */
  scroll-padding-top: 100px;
  scroll-padding-bottom: 100px;
}


body {
  box-sizing: border-box;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: max-content;
  background: radial-gradient(ellipse at center, var(--color-primary) 60%, #8A52B3);
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  width:100%;
  margin: 0 auto;
  box-sizing: border-box;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }

}
